@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Lora:wght@700&family=Quicksand:wght@400;500;700&family=Roboto+Slab:wght@400;700&display=swap");
@import "./variables.scss";
@import "./mixins.scss";
@import "./generic.scss";

* {
  text-decoration: none;
  list-style-type: none;
  color: $black;
  margin: 0;
  padding: 0;
}

.bg-1 {
  background: no-repeat url("../images/backgraund.svg");
  background-size: 100%;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.header {
  padding: 30px 0;
  background-color: $blackOpasity;
  height: fit-content;
  width: 100%;

  &__name {
    color: $white;
  }

  &__nav {
    a {
      color: $white;
    }
  }

  &__social {
    svg {
      fill: $white;
    }
  }
}

.footer {
  padding: 50px 0;
  background: no-repeat url("../images/bg_end.svg");
  background-size: 100%;
  height: fit-content;
  width: 100%;

  &__name {
    color: $black;
  }

  &__nav {
    a {
      color: $black;
    }
  }

  &__social {
    svg {
      fill: $black;
    }
  }
}

.name {
  @include RobotoSlab(32px, 32px, 700);
}

.nav {
  ul {
    display: flex;
    gap: 45px;
    align-items: center;
  }
  &__link {
    a {
      @include Lato(22px, 26px, 500);
    }
  }
}

.social {
  ul {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.langBar {
  display: flex;
  gap: 5px;
  align-items: center;
}

.promoContainer {
  // min-height: 760px;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  align-items: center;
  text-align: center;
  // margin: 75px;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 20px;
  padding: 30px 20px;
  margin: 150px 0 0;
  background-color: $blackOpasity;

  &__title {
    color: $white;
    @include Lora(74px, 80px, 700);
  }

  &__subtitle {
    color: $white;
    @include Lato(20px, 28px, 400);
  }

  &__btn {
    @extend .btn-default;
  }

  &__img {
    margin: 60px 0 60px 0;
    width: 55px;
    height: 55px;
  }
}

.cityContainer {
  background: no-repeat url("../images/bg-2.svg");
  background-size: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.city {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 20px;

  &__text {
    text-align: center;
    color: $white;
  }
  h2 {
    @include RobotoSlab(45px, 60px, 700);
  }
  h1 {
    @include RobotoSlab(110px, 120px, 700);
  }
  h3 {
    @include Quicksand(20px, 15px, 500);
  }
  h4 {
    @include Quicksand(28px, 32px, 500);
  }
  p {
    @include Quicksand(20px, 30px, 500);
  }
}

.popular {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 60px 0;

  span{
    @include Quicksand(20px, 30px, 500);
  }

  &__ways {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__picture {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;

    img {
      width: 400px;
      height: 250px;
    }
  }

  &__btn {
    @extend .btn-default;
    width: 20%;
  }

  svg{
    fill: $black;
  }

  &__name{
    @include RobotoSlab(56px, 74px, 700);
  }
}


.travel {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url(../images/bcg-green.svg);
  background-size: 1920px;
  padding: 70px 0;

  &__ways {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__picture {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

  }

  &__name{
    @include RobotoSlab(56px, 74px, 700);
    color: $white;
  }
}

.aboutUs{
  padding: 140px 0 260px 0;
  display: flex;
  flex-direction: column;

  &__name{
    color: $black;
    text-transform: uppercase;
    text-align: center;
    @include RobotoSlab(56px, 74px, 700);
  }

  &__text{
    @include Quicksand(20px, 32px, 500);
    text-align: center;
    margin: 32px 0 64px;
    padding: 0 20%;
  }
}

.block{
  position: relative;

  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;

    li{
      display: flex;
    justify-content: center;
    }
  }

  .big{
    color: $btnGreen;
    @include RobotoSlab(144px, 190px, 700)
  }

  .div{
    position: absolute;
    top: 85px;
    display: flex;
    align-items: center;
    flex-direction: column;

    span{
      @include Quicksand(32px, 40px, 400);
      text-align: center;
    }
  }
}

