@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Lora:wght@700&family=Quicksand:wght@400;500;700&family=Roboto+Slab:wght@400;700&display=swap");

$white: #fff;
$black: #000;
$blackOpasity: rgba(0, 0, 0, 0.85);
$btnGreen: #1ed400;

$Lato: "Lato", sans-serif;
$Lora: "Lora", serif;
$Quicksand: "Quicksand", sans-serif;
$RobotoSlab: "Roboto Slab", serif;

@mixin Lato($fs, $lh, $fw) {
  font-family: $Lato;
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
}

@mixin Lora($fs, $lh, $fw) {
  font-family: $Lora;
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
}

@mixin Quicksand($fs, $lh, $fw) {
  font-family: $Quicksand;
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
}

@mixin RobotoSlab($fs, $lh, $fw) {
  font-family: $RobotoSlab;
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
}

* {
  text-decoration: none;
  list-style-type: none;
  color: $black;
  margin: 0;
  padding: 0;
}

.bg-1{
    background: no-repeat url("../images/backgraund.svg");
    background-size: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $blackOpasity;
    padding: 30px 0;
    height: fit-content;
    width: 100%;

    &__name{
        color: $white;
    }

    &__nav{
        a{
            color: $white;
        }
    }
    
}

.name{
    @include RobotoSlab(32px, 32px, 700)
}

.nav{
    ul{
        display: flex;
        gap: 45px;
        align-items: center;
    }
    &__link{
        a{
            @include Lato(22px, 26px, 500)
        }
    }
}

.social{
    ul{
        display: flex;
        gap: 20px;
        align-items: center;
    }
}

.langBar{
    display: flex;
    gap: 5px;
    align-items: center;;
}

.promoContainer{
    min-height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.promo{
    display: flex;
    gap: 20px;
    background-color: $blackOpasity;

    &__title{
        color: $white;
    }

    &__subtitle{
        color: $white;
    }
}