@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Lora:wght@700&family=Quicksand:wght@400;500;700&family=Roboto+Slab:wght@400;700&display=swap');

// @mixin flex( $display, &flex-flow, $align, $justify,){
//     display: $display;
//     flex-flow: $flex-flow;
//     align: $align;
//     justify: $justify;
// }

.body{
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.header {
    background-image: url(//images/derek-thomson-TWoL-QCZubY-unsplash\ 4\ \(1\).png);
    background-position: center;
    background-size: cover;
    height: fit-content;
    width: 100%;
//     @include flex(flex, column nowrap, center, flex-start);
}