$white: #fff;
$black: #000000;
$blackOpasity: rgba(0, 0, 0, 0.85);
$btnGreen: #1ed400;

$Lato: "Lato", sans-serif;
$Lora: "Lora", serif;
$Quicksand: "Quicksand", sans-serif;
$RobotoSlab: "Roboto Slab", serif;